# -----------------------------
# ВИРТУАЛЬНЫЕ ОКРУЖЕНИЯ
# -----------------------------
.venv/
venv/
env/
ENV/

# -----------------------------
# КОНФИГИ И СЕКРЕТЫ
# -----------------------------
.env
*.env
*.ini
*.cfg
*.conf

# -----------------------------
# ЛОГИ, КЭШ, ВРЕМЕННЫЕ ФАЙЛЫ
# -----------------------------
*.log
logs/
tmp/
.cache/
__temp__/
*.bak
*.swp